# CRUD DATA

In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

Functions are defined to interact with the created table where the data will be stored

In [9]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection


def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")
        

db="building_2";
pw="YourPassword";

In [10]:
connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database

MySQL Database connection successful

## Insert Data

In [11]:
CRUD_DATA = """

INSERT INTO Elevator_data VALUES 
  (0,8 ,"Windy"  ,70 ,100,80 ,76 ,56 ,80 ,20 ,"NO" ,CURRENT_TIMESTAMP()+1), 
  (0,17,"Sunny"  ,70 ,56 ,2  ,80 ,45 ,20 ,65 ,"YES",CURRENT_TIMESTAMP()+3), 
  (0,14,"Humid"  ,70 ,100,80 ,76 ,56 ,20 ,80 ,"NO" ,CURRENT_TIMESTAMP()+5), 
  (5,20,"Sunny"  ,0  ,80 ,100,100,75 ,100,50 ,"YES",'2022-07-21 15:54:01'), 
  (3,8, "Raining",0  ,2  ,34 ,87 ,99 ,76 ,34 ,"NO" ,'2021-05-30 03:28:01'), 
  (2,12,"Humid"  ,200,96 ,0  ,87 ,0  ,46 ,0  ,"NO" ,'2019-03-2  11:57:01'), 
  (1,16,"Sunny"  ,0  ,27 ,89 ,34 ,67 ,34 ,46 ,"YES",'2019-01-18 09:12:01'), 
  (0,8,"Raining" ,0  ,98 ,76 ,40 ,98 ,56 ,87 ,"NO" ,'2019-12-16 10:45:01');

"""

In [12]:
execute_query(connection, CRUD_DATA)

Query successful